USE [price]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 17-Jan-26 11:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 17-Jan-26 11:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CatID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[ParentID] [int] NULL CONSTRAINT [DF_Category_ParentID]  DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[CatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FollowedProducts]    Script Date: 17-Jan-26 11:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FollowedProducts](
	[FollowID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ProductID] [int] NULL,
	[OldPrice] [decimal](18, 2) NULL,
	[FollowDate] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[FollowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 17-Jan-26 11:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[CatID] [int] NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[Brand] [nvarchar](100) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Features] [nvarchar](max) NULL,
	[Rating] [decimal](3, 2) NULL,
	[ImageURL] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
	[AmazonLink] [nvarchar](1000) NULL,
	[FlipkartLink] [nvarchar](1000) NULL,
	[MyntraLink] [nvarchar](1000) NULL,
	[AmazonPrice] [decimal](10, 2) NULL,
	[FlipkartPrice] [decimal](10, 2) NULL,
	[MyntraPrice] [decimal](10, 2) NULL,
	[AjioPrice] [decimal](10, 2) NULL,
	[CromaPrice] [decimal](10, 2) NULL,
	[ReliancePrice] [decimal](10, 2) NULL,
	[AjioLink] [nvarchar](max) NULL,
	[CromaLink] [nvarchar](max) NULL,
	[RelianceLink] [nvarchar](max) NULL,
	[MeeshoLink] [nvarchar](max) NULL,
	[ShopsyLink] [nvarchar](max) NULL,
	[MeeshoPrice] [decimal](10, 2) NULL,
	[ShopsyPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 17-Jan-26 11:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Email] [varchar](150) NULL,
	[Password] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 17-Jan-26 11:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[WishlistID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[AddedDate] [datetime] NULL DEFAULT (getdate()),
	[OldPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WishlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([id], [username], [password]) VALUES (1, N'siddhi_01', N'12')
SET IDENTITY_INSERT [dbo].[admin] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CatID], [CategoryName], [ParentID]) VALUES (10, N'Television', NULL)
INSERT [dbo].[Category] ([CatID], [CategoryName], [ParentID]) VALUES (11, N'Samsung', 10)
INSERT [dbo].[Category] ([CatID], [CategoryName], [ParentID]) VALUES (12, N'Laptop', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[FollowedProducts] ON 

INSERT [dbo].[FollowedProducts] ([FollowID], [UserID], [ProductID], [OldPrice], [FollowDate]) VALUES (1, 1, 25, CAST(62499.00 AS Decimal(18, 2)), CAST(N'2025-11-15 14:38:08.843' AS DateTime))
INSERT [dbo].[FollowedProducts] ([FollowID], [UserID], [ProductID], [OldPrice], [FollowDate]) VALUES (2, 1, 24, CAST(120999.00 AS Decimal(18, 2)), CAST(N'2025-11-15 14:38:59.250' AS DateTime))
INSERT [dbo].[FollowedProducts] ([FollowID], [UserID], [ProductID], [OldPrice], [FollowDate]) VALUES (3, 1, 25, CAST(62499.00 AS Decimal(18, 2)), CAST(N'2025-11-15 14:39:02.513' AS DateTime))
SET IDENTITY_INSERT [dbo].[FollowedProducts] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Name], [Email], [Password]) VALUES (1, N'Siddhi Tailor', N'siddhitailor8@gmail.com', N'1234')
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[Wishlist] ON 

INSERT [dbo].[Wishlist] ([WishlistID], [UserID], [ProductID], [AddedDate], [OldPrice]) VALUES (2, 1, 23, CAST(N'2025-11-18 14:17:39.533' AS DateTime), CAST(30999.00 AS Decimal(10, 2)))
INSERT [dbo].[Wishlist] ([WishlistID], [UserID], [ProductID], [AddedDate], [OldPrice]) VALUES (3, 1, 22, CAST(N'2025-11-18 14:18:09.790' AS DateTime), CAST(108999.00 AS Decimal(10, 2)))
INSERT [dbo].[Wishlist] ([WishlistID], [UserID], [ProductID], [AddedDate], [OldPrice]) VALUES (6, 1, 24, CAST(N'2025-11-18 14:20:28.443' AS DateTime), CAST(120999.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Wishlist] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__A9D105349744FC4E]    Script Date: 17-Jan-26 11:02:58 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CatID])
REFERENCES [dbo].[Category] ([CatID])
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_Product]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_User]
GO
